<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= will_paginate @cargo %>

<table width="900">
	<thead>
		<tr>
			<th><%= sortable "id", "Cargo Id" %></th>
			<th><%= sortable "owner" %></th>
			<th><%= sortable "contents" %></th>
			<th><%= sortable "weight" %></th>
			<th>Flight #</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Departure</th>
			<th>Arrival</th>
		</tr>
	</thead>

	<tbody>
		<% @cargo.each do |c| %>
		<tr>
			<td><%= c.id rescue "n/a" %></td>
			<td><%= c.flight.user.email rescue "n/a" %></td>
			<td><%= c.contents rescue "n/a" %></td>
			<td><%= c.weight rescue "n/a" %></td>
			<td><%= c.flight.number rescue "n/a" %></td>
			<td><%= c.flight.origin.pretty_name rescue "n/a" %></td>
			<td><%= c.flight.destination.pretty_name rescue "n/a" %></td>
			<td><%= c.flight.departure_time rescue "n/a" %></td>
			<td><%= c.flight.arrival_time rescue "n/a" %></td>
		</tr>
		<% end %></tbody>
</table>

<%= will_paginate @cargo %>

<br>