<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>User Information</h2>
  <div class="field">
    <label for="flight_user_id">Requestor</label><br>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <h2>Cargo Information</h2>
  <%= f.fields_for :cargo, @flight.cargo do |c| %>

  <div class="field">
    <%= c.label :weight %><br>
    <%= c.text_field :weight %>
  </div>
  <div class="field">
    <%= c.label :contents %><br>
    <%= c.text_area :contents, :cols => "40", :rows => "6" %>
  </div>
  <% end %>

  <h2>Flight Information</h2>
  <div class="field">
    <%= f.label :aircraft_id, 'Aircraft' %><br>
    <%= f.collection_select :aircraft_id, Aircraft.all, :id, :pretty_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :number, 'Flight Number' %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :aircrew_id, 'Aircrew' %><br>
    <%= f.collection_select :aircrew_id, Aircrew.all, :id, :pretty_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :origin_id, 'Origin' %><br>
    <%= f.collection_select :origin_id, Airport.all, :id, :pretty_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :destination_id, 'Destination' %><br>
    <%= f.collection_select :destination_id, Airport.all, :id, :pretty_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :departure_time %><br>
    <%= f.datetime_select :departure_time,  :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br>
    <%= f.datetime_select :arrival_time,  :order => [:month, :day, :year] %>
  </div>

  <%= f.hidden_field :request_id %>
  <div class="actions">
    <%= f.submit :class => 'button big gh-black'%>
  </div>
<% end %>
