<h1>User Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email rescue "n/a" %>
</p>
<p>
  <strong>Encrypted Password:</strong>
  <%= @user.encrypted_password rescue "n/a" %>
</p>
<p>
  <strong>Reset Password Token:</strong>
  <%= @user.reset_password_token rescue "n/a" %>
</p>
<p>
  <strong>Reset Password Sent At:</strong>
  <%= @user.reset_password_sent_at rescue "n/a" %>
</p>
<p>
  <strong>Remember Created At:</strong>
  <%= @user.remember_created_at rescue "n/a" %>
</p>
<p>
  <strong>Sign In Count:</strong>
  <%= @user.sign_in_count rescue "n/a" %>
</p>
<p>
  <strong>Current Sign In At:</strong>
  <%= @user.current_sign_in_at rescue "n/a" %>
</p>
<p>
  <strong>Last Sign In At:</strong>
  <%= @user.last_sign_in_at rescue "n/a" %>
</p>
<p>
  <strong>Current Sign In IP:</strong>
  <%= @user.current_sign_in_ip rescue "n/a" %>
</p>
<p>
  <strong>Last Sign In IP:</strong>
  <%= @user.last_sign_in_ip rescue "n/a" %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @user.created_at rescue "n/a" %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @user.updated_at rescue "n/a" %>
</p>
<p>
  <strong>Is Admin:</strong>
  <%= @user.is_admin rescue "n/a" %>
</p>

<%= link_to 'Edit', edit_user_manager_path(@user) %> |
<%= link_to 'Back', user_manager_index_path %>