<h1>Listing of Aircraft Type</h1>

<div>
  <%= link_to 'New Aircraft Type', new_aircraft_type_path %>
</div>

<br>

<%= form_tag aircraft_types_path, :method => 'get', :id => "aircraft_types_search" do %>
  <div>
    <%= text_field_tag :search, params[:search], :placeholder => 'Search by Aircraft Type', :size => 45 %>
    <%= submit_tag "Search", :name => nil, :class => 'button big gh-black' %>
  </div>
  <div id="aircraft_types"><%= render 'aircraft_types' %></div>
<% end %>