<h1>Pilot Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @pilot.fname rescue "n/a" %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @pilot.lname rescue "n/a" %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>