<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= will_paginate @airports %>

<table width="600">
	<thead>
		<tr>
			<th><%= sortable "code" %></th>
			<th><%= sortable "name" %></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @airports.each do |airport| %>
		<tr>
			<td><%= airport.code rescue "n/a" %></td>
			<td><%= airport.name rescue "n/a" %></td>
			<td><%= link_to 'Show', airport %></td>
			<td><%= link_to 'Edit', edit_airport_path(airport) %></td>
			<td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %></tbody>
</table>

<%= will_paginate @airports %>

<br>