

<h1>Listing of airports</h1>


<div>
  <%= link_to 'New Airport', new_airport_path, options = {:class =>'btn btn-primary btn-lg btn-block'} %>
</div>

<br>

<%= form_tag airports_path, :method => 'get', :id => "airports_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="airports"><%= render 'airports' %></div>
<% end %>


