<h1>Airport Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @airport.code rescue "n/a" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @airport.name rescue "n/a" %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>