<%= will_paginate @flights %>

<table width="600">
	<thead>
		<tr>
			<th><%= sortable "number", "Flight Number" %></th>
			<th><%= sortable "origin" %></th>
			<th><%= sortable "destination" %></th>
			<th><%= sortable "departure_time" %></th>
			<th><%= sortable "arrival_time" %></th>
			<th>Cargo Contents</th>
			<th>Cargo Weight</th>
		</tr>
	</thead>

	<tbody>
		<% @flights.each do |flight| %>
		<tr>
			<td><%= flight.number %></td>
			<td><%= flight.origin.pretty_name %></td>
			<td><%= flight.destination.pretty_name %></td>
			<td><%= flight.departure_time %></td>
			<td><%= flight.arrival_time %></td>
			<td><%= flight.cargo.contents %></td>
			<td><%= flight.cargo.weight %></td>
		</tr>
		<% end %></tbody>
</table>

<%= will_paginate @flights %>