
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wrong Way Airlines - There's no better way to fly</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" =>true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <div class="container clearfix">
        <a class="header-logo-wordmark" href="/"><span class="mega-octicon octicon-logo-it490"></span></a>
        <div class="header-actions">
          <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. <br> Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'button primary gh-orange big active' %>
            <%= link_to "Sign in", new_user_session_path, :class => 'button big gh-black' %>
          <% end %>
        </div>

        <div class="command-bar">
          <ul class="top-nav">
            <% if user_signed_in? %>
              <% if current_user.try(:is_admin?) %>
                <li class="admin"><%= link_to "Admin Console", aircrafts_path %></li>
              <% else %>
                <li class="shipments"><a href="/shipments">My Shipments</a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="side">
    	<ul id="sidenav">
    		<li><%= link_to "Aircrafts", aircrafts_path %></li>
    		<li><%= link_to "Aircraft Types", aircraft_types_path %></li>
        <li><%= link_to "Aircrews", aircrews_path %></li>
    		<li><%= link_to "Airports", airports_path %></li>
        <li><%= link_to "Flights", flights_path %></li>
    		<li><%= link_to "Pilots", pilots_path %></li>
    		<li><%= link_to "Navigators", navigators_path %></li>
        <li><%= link_to "Users", users_path %></li>
    	</ul>
    </div>
    <div id="main">
    	<%= yield %>
	  </div>
  </div>

  <br/>

</body>
</html>